html {
  font-family: Georgia, serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

h1 {
  font-family: Helvetica, sans-serif;
}

h2 {
  font-family: Helvetica, sans-serif;
}

h3 {
  font-family: Helvetica, sans-serif;
}

.http-method {
  color:blue;
}

.api-path {
  font-family: monospace;
  font-size: 
}

.http-status-good {
  color: green;
}

.http-status-notice {
  color: orange;
}

.http-status-error {
  color: red;
}

.params {
  margin-left: auto;
  margin-right: auto;
}

.params td {
  width: min-content;
  padding-left: 1em;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 2.5em;
}