:root {
  --color-text: #000;
  --color-border: #8f8f8f;
  --color-background: #fff;
  --border-radius: 6px;
  --box-shadow: 3px 3px 8px;
  --font-stack-sans-serif: Futura, "Trebuchet MS", Arial, sans-serif;
  --font-stack-monospace: monaco, Consolas, "Lucida Console", monospace;
  --line-height: 1.5;
  --content-width: 60rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #282828;
  }
}

body {
  margin: 0;
  padding: 1.4rem;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-stack-sans-serif);
  line-height: var(--line-height);
  overflow-x: hidden;
}

main, header, footer {
  margin: 2rem auto;
  max-width: var(--content-width);
}

nav {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  gap: 1.4rem;
  font-weight: bold;
}

header p {
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#tzstamp h2 {
  text-align: center;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

label + input {
  display: block;
  margin-bottom: 0.8rem;
}

input {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  font-family: var(--font-stack-monospace);
  font-size: inherit;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

input[type=file]::-webkit-file-upload-button {
  padding: 0.4rem;
  margin-right: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-border);
}

input[type=file]::file-selector-button {
  padding: 0.4rem;
  margin-right: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-border);
}

button {
  margin-right: 0.4rem;
  padding: 0.4rem;
  font-family: inherit;
  margin-bottom: 0.4rem;
}

#proofs {
  margin-top: 1em;
}

#proofs div {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  word-wrap: break-word;
  max-width: 65ch;
}

#proofs div a {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 1em;
  margin-right: 1em;
}

#no-stamps {
  text-align: center;
  opacity: 40%;
}

#instructions {
  margin-left: auto;
  margin-right: auto;
  width: 80ch;
}