:root {
  /* colors */
  --text-color: #000;
  --inverted-text-color: #fff;
  --subtle-text-color: #0009;
  --code-color: #a88900;
  --link-color: #346092;
  --button-color: #d8d8d8;
  --border-color: #8f8f8f;
  --endpoint-color: #d6e8fc;
  --endpoint-method-color: #005fcc;
  --example-color: #e7e7e7;
  --background-color: #fff;
  --navbar-color: #367ddb;
  --navitems-color: #2a558d;
  --header-color: #8197b4;
  --footer-color: #d2deee;
  /* effects */
  --box-shadow: 3px 3px 6px #0003;
  /* spacing */
  --thin-spacing: 0.8rem;
  --normal-spacing: 1.4rem;
  --wide-spacing: 2.4rem;
  --border-radius: 6px;
  --content-width: 60rem;
  /* typography */
  --font-stack-sans-serif: Futura, "Trebuchet MS", Arial, sans-serif;
  --font-stack-monospace: monaco, Consolas, "Lucida Console", monospace;
  --line-height: 1.5;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-stack-sans-serif);
  line-height: var(--line-height);
}

div.content {
  margin: 0 auto;
  max-width: var(--content-width);
}

#navbar {
  --text-color: var(--inverted-text-color);
  --link-color: var(--inverted-text-color);
  font-weight: bold;
  user-select: none;
}

#navbar > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--normal-spacing);
}

#logo {
  display: block;
}

#logo > svg {
  height: 4rem;
  width: 12rem;
  filter: drop-shadow(2px 2px 4px #0003);
}

#logo use {
  fill: var(--text-color);
}

#navtoggle {
  display: none;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
}

#navtoggle rect {
  fill: var(--text-color);
}

#navitems {
  display: flex;
  gap: var(--normal-spacing);
  list-style-type: none;
}

body > section {
  margin: var(--wide-spacing) var(--normal-spacing);
}

#footer {
  color: var(--subtle-text-color);
  padding: var(--normal-spacing);
  margin-top: var(--wide-spacing);
  background-color: var(--footer-color);
}

h2 {
  display: inline-block;
  border-bottom: 4px solid var(--navbar-color);
  margin-bottom: var(--wide-spacing);
}

h3 {
  margin-top: var(--wide-spacing);
}

h4 {
  margin-top: var(--normal-spacing);
  margin-bottom: var(--normal-spacing);
  color: var(--subtle-text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg.external-link {
  height: 0.6em;
}

svg.external-link path {
  fill: var(--link-color);
  stroke: none;
}

p {
  margin-top: var(--thin-spacing);
  margin-bottom: var(--thin-spacing);
}

p.endpoint {
  padding: var(--thin-spacing);
  background-color: var(--endpoint-color);
  font-family: var(--font-stack-monospace);
  font-weight: bold;
}

p.endpoint span.method {
  color: var(--endpoint-method-color);
}

code {
  font-family: var(--font-stack-monospace);
  color: var(--code-color);
}

blockquote.example {
  padding: var(--normal-spacing);
  background-color: var(--example-color);
  font-family: var(--font-stack-monospace);
  overflow-x: scroll;
}

blockquote.example > p {
  margin: 0;
  white-space: pre;
}

dd {
  margin-left: var(--normal-spacing);
}

form {
  margin-top: var(--normal-spacing);
  margin-bottom: var(--normal-spacing);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

label + input {
  display: block;
  margin-bottom: 0.8rem;
}

input {
  max-width: 100%;
  padding: 0.6rem;
  font-family: var(--font-stack-monospace);
  font-size: inherit;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

input[type=file]::-webkit-file-upload-button {
  padding: 0.4rem;
  margin-right: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-border);
}

input[type=file]::file-selector-button {
  padding: 0.4rem;
  margin-right: 0.8rem;
  background-color: var(--button-color);
}

form button {
  margin-right: 0.4rem;
  padding: 0.4rem;
  font-family: inherit;
  margin-bottom: 0.4rem;
}

#proof-list {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--normal-spacing);
  padding-left: var(--wide-spacing);
  overflow-x: scroll;
}

@media (min-width: 769px) {
  #navbar {
    padding: var(--normal-spacing);
    background-color: var(--navbar-color);
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 768px) {
  :root {
    --normal-spacing: 1rem;
  }

  #navbar {
    padding: 0;
  }

  #navbar > .content {
    display: block;
  }

  #navanchor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--normal-spacing);
    background-color: var(--navbar-color);
    box-shadow: var(--box-shadow);
  }

  #navtoggle {
    display: block;
  }

  #navitems {
    display: none;
    line-height: 2;
    flex-direction: column;
    padding: var(--normal-spacing);
    background-color: var(--navitems-color);
    text-align: right;
  }

  #navitems.open {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #282828;
  }

  #navbar {
    --text-color: navy;
  }
}
